@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
    @apply bg-gray-50;
    font-family: 'Cairo', sans-serif;
}


.container-sm {
    width: 100%;
}

@media (min-width: 640px) {
    .container-sm {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-sm {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-sm {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container-sm {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container-sm {
        max-width: 1536px;
    }
}
